/* resource: https://www.youtube.com/watch?v=EiNiSFIPIQE */
*, *::after, *::before {
    box-sizing: border-box;
}

.grid1 { /* hot fix for nav bar */
    display: grid;
}


.grid{
    display:grid;
    padding: 0 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#main-content{
    grid-column: 1 / 14;
}

#related-grants{
    grid-column: 1 / 5;
    margin: auto;
}

/* 382 px */
@media (width > 23.875rem) {
    .category-tag-container{
        top: 35%;
    }
}

/* 410 px */
@media (width > 25.625rem) {
    .category-tag-container{
        top: 35%;
    }
}

/* 640 px */
@media (width>40rem) {
    .category-tag-container{
        top: 30%;
    }
}

/* 680 px */
@media(width > 42.5rem){
    #menu {
        grid-template-columns: 1fr;
    }

    .grid .desktop-nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 0;
    }
    .grid{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        padding: 0 5rem;
    }
    #main-content{
        grid-column: 1 / 14;
    }
    #related-grants{
        grid-column: 1 / 14;
        padding: 0 0 4rem;
    }
    .category-tag-container{
        top: 30%;
    }
}

/* 804 px */
@media (width > 50.25rem) {
    .category-tag-container{
        top: 35%;
    }
}

/* 890 px */
@media (width > 55.625rem) {
    .category-tag-container{
        top: 40%;
    }
}

/* 965 px */
@media(width>60.315rem) {
    .category-tag-container {
        top:41%;
    }
}

/* 992 px */
@media(width > 61.875rem){
    #main-content{
        grid-column: 4/12;
    }
    #related-grants{
        grid-column: 1/14;
        padding: 0 0 4rem;
    }

    #main-content .desc {
        max-width:56.25rem;
    }

    /* 900/16px = 56.25rem */
    table {
        max-width: 56.25rem;
    }
    .category-tag-container{
        top: 42%;
    }
}

/* 1150 px */
@media(width > 71.875rem){
    .category-tag-container{
        top: 35%;
    }
}

/* 1274 px */
@media(width > 79.625rem){
    .category-tag-container{
        top: 40%;
    }
}

/* 1450 px */
@media(width > 90.625rem){
    .category-tag-container{
        top: 42%;
    }
}