#home-page-grants{
    display: grid;
    padding: 0 1rem;
    margin: 1rem;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}
#home-page-header{
    padding: 0 1rem;
}



.desktop-nav {
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    z-index: 10;
    overflow: hidden;
    background-color: rgb(255, 255, 255,0.9);
}


@media (width > 40rem){
    #home-page-grants{
        grid-template-columns: 1fr 1fr;
         padding: 0 3rem; 
    }
    #home-page-header{
        padding: 0 3rem;
    }
    .home-p{
        width: 80%;
    }
    .home-title{
        font-size: 4rem;
    }

   
}

@media(width<67.75rem) {

    .desktop-nav a {
        text-align: left;

    }

 
}

@media(width> 67.75rem){
    #home-page-grants{
        grid-template-columns: 1fr 1fr 1fr;
    }
    #home-page-header{
        padding: 0 5rem;
    }
    .home-p{
        width: 70%;
    }

    .grid1  {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 0;
    }

    .desktop-nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr; 
    }

    #filterbtn {
        display: none;
    }
}